.young-serif-regular {
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
}

h2, h3{
  color: hsl(14, 45%, 36%);
  
}

body{
  background-color: hsl(14, 63%, 80%);
  font-family: young-serif-regular;
}

.container{
  background-color: white;
  border-radius: 10px;
  margin: 70px 300px;
  padding: 25px;
}

img{
  width: 685px;

  border-radius: 10px;
}


@media screen  and (max-width: 375px){
  .container{
    margin: 0;
    padding: 10px;

  }
  img{
    width: 340px;
  }
 
}